applications/feedback_sentiment_analyzer/cdk/step-function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "ExtractText",
  "States": {
    "ExtractText": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.extracted_text",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:260778392212:function:ExtractText:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "AnalyzeSentiment"
    },
    "AnalyzeSentiment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$.extracted_text",
      "ResultPath": "$.sentiment_analysis",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:260778392212:function:AnalyzeSentiment:$LATEST",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "ContinueIfPositive"
    },
    "ContinueIfPositive": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sentiment_analysis['Payload']",
          "StringEquals": "NEGATIVE",
          "Next": "TranslateText"
        }
      ],
      "Default": "CreateComment"
    },
    "TranslateText": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$.extracted_text",
      "ResultPath": "$.translated_text",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:260778392212:function:TranslateText:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "SynthesizeAudio"
    },
    "SynthesizeAudio": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$.translated_text",
      "ResultPath": "$.synthesized_audio",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:260778392212:function:SynthesizeAudio:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 7,
          "BackoffRate": 2
        }
      ],
      "Next": "StoreAudio"
    },
    "StoreAudio": {
      "Type": "Task",
      "Parameters": {
        "Body": {},
        "Bucket": "fordslittletest",
        "Key": "33.mp3"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Next": "CreateComment"
    },
    "CreateComment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "InputPath": "$",
      "Parameters": {
        "TableName": "comments",
        "Item": {
          "id.$": "$.['ETag']",
          "object_key": {
            "S": "5655665556.mpeg"
          }
        }
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "CreateComment"
        }
      ]
    }
  }
}